body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  }
  .a{
    background-color: #0d3880;
  }
  .b{ 
    background-color: #5d5850;  
  }
  .c{
    background-color: #5d5850;
  }
  .d{ 
    background-color: #8d8880;  
  }